<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel='shortcut icon' href='imgs/favicon.ico' type='image/x-icon'/ >
</head>

<body>
  <!-- Header -->
  <div>
      <img src="imgs/header.png" class="img-responsive" />
  </div>

  <!-- Nav -->
  <div class="btn-group btn-group-justified headerNav">
    <div class="btn-group">
      <a href="#top" class="btn btn-default butNav">Home</a>
    </div>
    <div class="btn-group">
      <a href="#mid" class="btn btn-default butNav">Download</a>
    </div>
    <div class="btn-group">
      <a href="#bot" class="btn btn-default butNav">Team</a>
    </div>
  </div>

  <!-- Main Page Content -->
  <div class="container">

    <!-- About the app -->
    <div id="top" class="row top">
      <div class="col-md-3 col-sm-1"></div>
      <div class="col-md-6 col-sm-10 blurb">
        <p>FaceBoard is a collaberation app that brings together</p>
        <p>video chatting, codesharing, and whiteboarding into</p>
        <p>one convenient place for maximum efficiency.</p>
      </div>
      <div class="col-md-3 col-sm-1"></div>
    </div>

    <!-- Download and video -->
    <div id="mid" class="row mid">
      <div class="col-md-6 to-center">
        <div class="download center-block">
          <a class="btn btn-default btn-lg btn-block mac" href="http://s3.amazonaws.com/hrr17faceboard/faceboard-0.1.6-mac.dmg" download="faceboard-0.0.1.dmg"><p>Download for Mac</p> <small>43.4 MB</small></a>
          <a class="btn btn-default btn-lg btn-block win" href="http://s3.amazonaws.com/hrr17faceboard/faceboard-0.1.6-win.exe" download="faceboard-0.0.1.exe"><p>Download for Window</p> <small>59.9 MB</small></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 video">
          <iframe max-width="250px" class="embed-responsive-item" src="https://www.youtube.com/embed/8AI5WKSMwG0"></iframe>
        </div>
      </div>
    </div>

    <!-- About the dev team -->
    <div id="bot" class="row bot">
      <div class="col-md-3">
        <a href="https://github.com/vget98">
          <img width="80%" src="https://secure.gravatar.com/avatar/3b852dfb8c02756c31c91459b59f0d00.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0021-512.png" class="img-circle center-block"/>
          <h2 class="text-center">Patrick Truong</h2>
          <h4 class="text-center">Product Owner</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://github.com/Ronolibert">
          <img width="80%" src="https://avatars.slack-edge.com/2016-06-06/48519666225_184d4993355ea69d8cc8_1024.jpg" class="img-circle center-block"/>
          <h2 class="text-center">Ron Cruz</h2>
          <h4 class="text-center">Scrum Master</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://github.com/tylerwebworx">
          <img width="80%" src="https://avatars.slack-edge.com/2016-06-06/48657508438_ab82c7b8f127688d6837_1024.jpg" class="img-circle center-block"/>
          <h2 class="text-center">Jason Bland</h2>
          <h4 class="text-center">Lead Engineer</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://github.com/ryo-capricorn92">
          <img width="80%" src="http://i.imgur.com/tsP1E80.jpg" class="img-circle center-block"/>
          <h2 class="text-center">Ryo Wheatley</h2>
          <h4 class="text-center">Product Designer</h4>
        </a>
      </div>
    </div>
  </div>




  <!-- <a href="http://s3.amazonaws.com/hrr17faceboard/faceboard-0.1.3-mac.dmg" download="faceboard-0.0.1.dmg"><button>Download for OS</button></a>
  <a href="http://s3.amazonaws.com/hrr17faceboard/faceboard-0.1.3-win.exe" download="faceboard-0.0.1.exe"><button>Download for Windows<button></a> -->
</body>
</html>
